
body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  color: black;
  background-color: beige;
  margin: 0;
}

main {
  display: flex;
  flex: 1 0 auto;
}

aside {
  display: flex;
  flex-direction: column;
  flex: 0 0 40px;
  justify-content: space-around;
  align-items: center;
  background-color: #cfabf2;
}

aside i {
  font-size: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.music_head {
  display: flex;
  flex: 0 0 280px;
  padding: 40px;
  background-color: #83798b;
}

.music_head img {
  height: 200px;
}

.cat-music {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding-left: 50px;
  color: #fff;
  font-weight: 300;
}

.play-all i {
  padding: 10px;
}

.cat-music div:nth-child(1) {
  margin-bottom: auto;
}

.cat-music div:nth-child(2) {
  margin-top: 0;
}

.cat-music div:nth-child(2) i.fa {
  font-size: 0.9em;
  padding: 0 0.7em;
  font-weight: 300;
}

.cat-music div:nth-child(1) p:first-child {
  font-size: 1.8em;
  margin: 0 0 10px;
}

.cat-music div:nth-child(1) p:not(:first-child) {
  font-size: 0.9em;
  margin: 2px 0;
}

music_list {
  display: flex;
  flex: 1 0 auto;
  padding: 5px 10px 0;
}

li {
  display: flex;
  padding: 0 20px;
  min-height: 50px;
  margin-right: 25px;
}

li p {
  flex: 0 0 25%;
}

li:nth-child(2n) {
  background-color: #c7b8b8;
}

.catty-cloud span {
  border: 1px solid black;
  padding: 3px;
  font-size: 0.8em;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}

footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #8240c4;
  flex: 0 0 90px;
  padding: 9px;
  color: #fff;
}

.track {
  display: flex;
  margin-right: auto;
}

.track img {
  width: 100px;
  padding-right: 10px;
}

.control-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-right: 20px;
}
